In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Dataset/training_set.csv', index_col=0)

In [3]:
dataset.head()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
id,,,,,,,,,,,,,,,,,,,,,
1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,252,...,1,1,0,0,0,1,1,0,Normal,0
2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,62,...,1,2,0,0,0,1,6,0,Normal,0
3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,62,...,1,3,0,0,0,2,6,0,Normal,0
4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,62,...,1,3,1,1,0,2,1,0,Normal,0
5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,254,...,1,40,0,0,0,2,39,0,Normal,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175341 entries, 1 to 175341
Data columns (total 44 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dur                175341 non-null  float64
 1   proto              175341 non-null  object
 2   service            175341 non-null  object
 3   state              175341 non-null  object
 4   spkts              175341 non-null  int64
 5   dpkts              175341 non-null  int64
 6   sbytes             175341 non-null  int64
 7   dbytes             175341 non-null  int64
 8   rate               175341 non-null  float64
 9   sttl               175341 non-null  int64
 10  dttl               175341 non-null  int64
 11  sload              175341 non-null  float64
 12  dload              175341 non-null  float64
 13  sloss              175341 non-null  int64
 14  dloss              175341 non-null  int64
 15  sinpkt             175341 non-null  float64
 16  dinpkt             175341 non-null  float64
 17  sjit               175341 non-null  float64
 18  djit               175341 non-null  float64
 19  swin               175341 non-null  int64
 20  stcpb              175341 non-null  int64
 21  dtcpb              175341 non-null  int64
 22  dwin               175341 non-null  int64
 23  tcprtt             175341 non-null  float64
 24  synack             175341 non-null  float64
 25  ackdat             175341 non-null  float64
 26  smean              175341 non-null  int64
 27  dmean              175341 non-null  int64
 28  trans_depth        175341 non-null  int64
 29  response_body_len  175341 non-null  int64
 30  ct_srv_src         175341 non-null  int64
 31  ct_state_ttl       175341 non-null  int64
 32  ct_dst_ltm         175341 non-null  int64
 33  ct_src_dport_ltm   175341 non-null  int64
 34  ct_dst_sport_ltm   175341 non-null  int64
 35  ct_dst_src_ltm     175341 non-null  int64
 36  is_ftp_login       175341 non-null  int64
 37  ct_ftp_cmd         175341 non-null  int64
 38  ct_flw_http_mthd   175341 non-null  int64
 39  ct_src_ltm         175341 non-null  int64
 40  ct_srv_dst         175341 non-null  int64
 41  is_sm_ips_ports    175341 non-null  int64
 42  attack_cat         175341 non-null  object
 43  label              175341 non-null  int64
dtypes: float64(11), int64(29), object(4)
memory usage: 60.2+ MB

In [5]:
dataset.duplicated().sum()

67601

In [6]:
dataset.drop_duplicates(inplace=True)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107740 entries, 1 to 175338
Data columns (total 44 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dur                107740 non-null  float64
 1   proto              107740 non-null  object
 2   service            107740 non-null  object
 3   state              107740 non-null  object
 4   spkts              107740 non-null  int64
 5   dpkts              107740 non-null  int64
 6   sbytes             107740 non-null  int64
 7   dbytes             107740 non-null  int64
 8   rate               107740 non-null  float64
 9   sttl               107740 non-null  int64
 10  dttl               107740 non-null  int64
 11  sload              107740 non-null  float64
 12  dload              107740 non-null  float64
 13  sloss              107740 non-null  int64
 14  dloss              107740 non-null  int64
 15  sinpkt             107740 non-null  float64
 16  dinpkt             107740 non-null  float64
 17  sjit               107740 non-null  float64
 18  djit               107740 non-null  float64
 19  swin               107740 non-null  int64
 20  stcpb              107740 non-null  int64
 21  dtcpb              107740 non-null  int64
 22  dwin               107740 non-null  int64
 23  tcprtt             107740 non-null  float64
 24  synack             107740 non-null  float64
 25  ackdat             107740 non-null  float64
 26  smean              107740 non-null  int64
 27  dmean              107740 non-null  int64
 28  trans_depth        107740 non-null  int64
 29  response_body_len  107740 non-null  int64
 30  ct_srv_src         107740 non-null  int64
 31  ct_state_ttl       107740 non-null  int64
 32  ct_dst_ltm         107740 non-null  int64
 33  ct_src_dport_ltm   107740 non-null  int64
 34  ct_dst_sport_ltm   107740 non-null  int64
 35  ct_dst_src_ltm     107740 non-null  int64
 36  is_ftp_login       107740 non-null  int64
 37  ct_ftp_cmd         107740 non-null  int64
 38  ct_flw_http_mthd   107740 non-null  int64
 39  ct_src_ltm         107740 non-null  int64
 40  ct_srv_dst         107740 non-null  int64
 41  is_sm_ips_ports    107740 non-null  int64
 42  attack_cat         107740 non-null  object
 43  label              107740 non-null  int64
dtypes: float64(11), int64(29), object(4)
memory usage: 37.0+ MB

In [8]:
# check for extraneous values in each column

for col in dataset.columns:
    print(f"Column: {col}, Unique Values: {dataset[col].value_counts()} \n")

Column: dur, Unique Values: 0.000009    4276
0.000003    2408
0.000008    2243
0.000010    1662
0.000005    1639
            ...
0.694603       1
1.854685       1
1.315859       1
1.131023       1
1.208004       1
Name: dur, Length: 74039, dtype: int64

Column: proto, Unique Values: tcp     76293
udp     23027
unas     2582
ospf      775
arp       633
        ...
tlsp       26
ggp        24
igmp       17
icmp       13
rtp         1
Name: proto, Length: 133, dtype: int64

Column: service, Unique Values: -           64951
http        18135
dns         11046
smtp         5025
ftp-data     3282
ftp          2691
ssh          1295
pop3         1104
snmp           63
ssl            56
dhcp           55
irc            25
radius         12
Name: service, dtype: int64

Column: state, Unique Values: FIN    74478
INT    19726
CON    12487
REQ      953
RST       83
ECO       10
no         1
URN        1
PAR        1
Name: state, dtype: int64

Column: spkts, Unique Values: 2       26233
10      26004
12       6809
14       4941
4        4094
        ...
7252        1
1686        1
1622        1
1110        1
4094        1
Name: spkts, Length: 480, dtype: int64

Column: dpkts, Unique Values: 0       20693
8       16270
6       11773
2        8725
18       6430
        ...
466         1
4560        1
402         1
616         1
5276        1
Name: dpkts, Length: 443, dtype: int64

Column: sbytes, Unique Values: 200      6111
146      4858
564      3496
114      3350
1540     2275
         ...
28392       1
3876        1
5927        1
32554       1
40980       1
Name: sbytes, Length: 7214, dtype: int64

Column: dbytes, Unique Values: 0          20693
268        11046
354         9528
178         4860
10168       2899
           ...
16354          1
4601827        1
65530          1
18990          1
57284          1
Name: dbytes, Length: 6660, dtype: int64

Column: rate, Unique Values: 111111.107200    4275
333333.321500    2408
125000.000300    2239
100000.002500    1661
200000.005100    1640
                 ...
28.836010           1
3.357062            1
55.469872           1
625.105039          1
7.976206            1
Name: rate, Length: 76991, dtype: int64

Column: sttl, Unique Values: 254    52038
31     39123
62     15753
0        711
1         61
63        29
255        8
64         7
60         6
252        2
29         2
Name: sttl, dtype: int64

Column: dttl, Unique Values: 252    47376
29     39123
0      20782
60       455
254        2
31         2
Name: dttl, dtype: int64

Column: sload, Unique Values: 8.888889e+07    1839
5.066666e+07     893
2.666667e+08     873
1.000000e+08     780
0.000000e+00     574
                ...
3.744000e+08       1
5.570048e+02       1
7.120000e+08       1
5.197308e+05       1
8.517290e+05       1
Name: sload, Length: 80885, dtype: int64

Column: dload, Unique Values: 0.000000         20700
676163.375000       57
670433.125000       54
680688.312500       53
681992.312500       51
                 ...
10288.103520         1
14787.307620         1
5810.616699          1
14342.037110         1
3041.515381          1
Name: dload, Length: 77474, dtype: int64

Column: sloss, Unique Values: 0       31489
2       29053
7       13892
3        8097
4        5618
        ...
2840        1
281         1
217         1
153         1
3838        1
Name: sloss, Length: 409, dtype: int64

Column: dloss, Unique Values: 0       32249
1       24192
2       10753
4        6696
8        5197
        ...
895         1
797         1
540         1
572         1
1151        1
Name: dloss, Length: 370, dtype: int64

Column: sinpkt, Unique Values: 0.009000      7333
0.008000      3460
0.003000      2660
0.010000      2536
0.005000      1977
              ...
5.693000         1
88.571767        1
159.906778       1
79.982778        1
6.671075         1
Name: sinpkt, Length: 76161, dtype: int64

Column: dinpkt, Unique Values: 0.000000      20703
0.007000       3413
0.006000       1027
0.002000        748
0.008000        727
              ...
0.398525          1
85.087289         1
282.874375        1
229.343031        1
12.547052         1
Name: dinpkt, Length: 74245, dtype: int64

Column: sjit, Unique Values: 0.000000       27913
10.954521         11
0.626025           9
0.629325           9
0.620368           8
               ...
15.389659          1
984.745971         1
997.438841         1
22.846401          1
1242.940303        1
Name: sjit, Length: 77532, dtype: int64

Column: djit, Unique Values: 0.000000      29640
0.280961          7
0.289213          6
493.566937        6
658.751688        6
              ...
107.923742        1
668.767875        1
35.342238         1
493.389846        1
195.094375        1
Name: djit, Length: 76831, dtype: int64

Column: swin, Unique Values: 255    76282
0      31447
45         1
172        1
42         1
232        1
168        1
167        1
103        1
31         1
87         1
14         1
192        1
Name: swin, dtype: int64

Column: stcpb, Unique Values: 0             32030
1274098340        4
1538878167        4
2593448590        4
4126991132        4
              ...
3186158775        1
1947638969        1
2865136826        1
712785390         1
3296061347        1
Name: stcpb, Length: 75265, dtype: int64

Column: dtcpb, Unique Values: 0             32036
3330702795       12
1200223257       11
1778713373        9
4185545031        9
              ...
1508400445        1
1921255468        1
2972194497        1
3507483796        1
3618969603        1
Name: dtcpb, Length: 75089, dtype: int64

Column: dwin, Unique Values: 255    75698
0      32037
244        1
48         1
40         1
37         1
70         1
Name: dwin, dtype: int64

Column: tcprtt, Unique Values: 0.000000    32071
0.000665      195
0.000680      178
0.000681      178
0.000664      177
            ...
0.124344        1
0.102235        1
0.070251        1
0.186298        1
0.091017        1
Name: tcprtt, Length: 43319, dtype: int64

Column: synack, Unique Values: 0.000000    32071
0.000541      277
0.000539      273
0.000536      257
0.000542      246
            ...
0.034848        1
0.110812        1
0.076743        1
0.016621        1
0.013663        1
Name: synack, Length: 40142, dtype: int64

Column: ackdat, Unique Values: 0.000000    32072
0.000124     1224
0.000125     1201
0.000123     1039
0.000126     1003
            ...
0.086345        1
0.069021        1
0.046143        1
0.084760        1
0.122420        1
Name: ackdat, Length: 37708, dtype: int64

Column: smean, Unique Values: 100     6424
56      5206
53      5003
73      4984
57      4837
        ...
1371       1
1370       1
1368       1
984        1
1471       1
Name: smean, Length: 1357, dtype: int64

Column: dmean, Unique Values: 0       20693
45      11156
44      11127
89       5162
565      2902
        ...
902         1
1392        1
1350        1
561         1
793         1
Name: dmean, Length: 1328, dtype: int64

Column: trans_depth, Unique Values: 0      90491
1      17157
2         80
4          3
5          2
3          2
172        1
39         1
163        1
155        1
80         1
Name: trans_depth, dtype: int64

Column: response_body_len, Unique Values: 0         96916
3924       2727
83          568
524288      381
109         317
          ...
3364          1
1381          1
1445          1
3812          1
1503          1
Name: response_body_len, Length: 2386, dtype: int64

Column: ct_srv_src, Unique Values: 1     29822
2     16005
3     13175
4      9324
5      7465
6      6560
7      4876
8      3805
9      3180
10     2465
11     1874
12     1615
13      937
14      783
15      593
16      430
17      377
19      283
34      274
18      236
20      233
26      226
33      220
22      217
21      215
28      206
31      198
29      179
27      176
23      176
24      175
30      165
35      141
32      133
36      123
37      122
25      117
39      112
38       94
44       80
40       67
63       60
43       51
42       33
52       32
45       25
46       24
41       18
47       15
49       13
51       11
50        4
Name: ct_srv_src, dtype: int64

Column: ct_state_ttl, Unique Values: 1    46146
0    39857
2    19686
3     1157
6      894
Name: ct_state_ttl, dtype: int64

Column: ct_dst_ltm, Unique Values: 1     46666
2     22424
3     12758
4      7892
5      4691
6      3399
7      2036
8      1340
9      1131
10      683
11      556
16      461
18      443
17      431
14      404
12      344
13      339
15      274
19      229
21      124
25      121
34      106
33       99
24       77
23       74
20       72
26       69
22       66
27       64
32       55
28       47
35       45
30       39
29       32
36       30
31       26
41       15
40       11
37       10
38        9
45        9
39        7
42        7
43        5
44        5
50        4
51        4
46        3
48        3
47        1
Name: ct_dst_ltm, dtype: int64

Column: ct_src_dport_ltm, Unique Values: 1     80564
2     14143
3      4199
4      1701
6      1382
5       819
8       517
16      440
7       410
10      400
12      380
9       357
17      296
13      295
14      283
11      254
18      249
15      213
33      122
34       95
21       55
32       50
25       48
19       48
28       40
20       40
27       38
23       38
24       36
30       34
26       33
22       32
29       30
31       27
36       16
41       12
42        7
35        6
39        6
45        4
38        4
50        4
37        4
51        4
43        3
40        1
46        1
Name: ct_src_dport_ltm, dtype: int64

Column: ct_dst_sport_ltm, Unique Values: 1     96808
2      4935
3      1893
4       794
16      505
17      315
5       312
8       292
18      247
10      220
7       196
6       192
9       186
13      166
11      164
12      153
14      153
15      144
19       10
24       10
22        8
20        7
23        7
26        4
28        4
21        4
25        4
31        2
27        2
40        1
37        1
46        1
Name: ct_dst_sport_ltm, dtype: int64

Column: ct_dst_src_ltm, Unique Values: 1     41494
2     19654
3     13385
4      9279
5      6003
6      4276
7      2933
8      1512
10     1157
9       890
13      615
11      560
12      525
14      325
17      311
34      307
26      274
28      249
15      239
16      230
22      219
33      217
20      215
23      207
30      175
32      173
31      172
19      169
25      163
18      162
21      157
35      156
29      149
27      145
37      136
24      131
39      126
36      118
38      101
40       88
44       79
63       59
51       39
42       36
46       30
45       26
41       25
43       14
47       13
49       13
50        4
52        3
54        1
65        1
Name: ct_dst_src_ltm, dtype: int64

Column: is_ftp_login, Unique Values: 0    105894
1      1837
4         5
2         4
Name: is_ftp_login, dtype: int64

Column: ct_ftp_cmd, Unique Values: 0    105894
1      1837
4         5
2         4
Name: ct_ftp_cmd, dtype: int64

Column: ct_flw_http_mthd, Unique Values: 0     90491
1     16632
4       487
2        52
9        36
6        14
12        8
30        6
25        6
16        5
3         3
Name: ct_flw_http_mthd, dtype: int64

Column: ct_src_ltm, Unique Values: 1     35441
2     24428
3     14342
4      8815
5      5794
6      3972
7      2315
8      2271
9      1465
10     1197
18      700
17      678
11      658
12      598
13      594
16      544
19      538
14      417
15      382
21      347
20      303
26      221
23      193
24      189
27      188
25      174
22      155
34      152
33      103
28      100
32       64
35       52
29       44
30       40
37       39
31       37
36       31
44       23
41       23
42       21
45       19
40       17
39       16
46       11
38       10
43        6
50        4
51        4
47        4
60        1
Name: ct_src_ltm, dtype: int64

Column: ct_srv_dst, Unique Values: 1     35126
2     15250
3     12650
4      8749
5      7298
6      5892
7      4318
8      3476
9      2501
10     2357
11     1670
12     1412
13      921
14      835
16      383
15      325
17      278
34      273
18      241
26      235
19      228
33      218
21      207
30      204
31      202
23      197
20      193
22      187
28      181
24      157
39      156
27      154
29      152
25      143
36      140
37      134
32      127
35      118
38       94
44       72
62       59
40       46
51       39
42       36
46       24
45       22
41       18
49       13
47       12
43       10
50        4
52        3
Name: ct_srv_dst, dtype: int64

Column: is_sm_ips_ports, Unique Values: 0    107195
1       545
Name: is_sm_ips_ports, dtype: int64

Column: attack_cat, Unique Values: Normal            51890
Exploits          19844
Fuzzers           16150
Reconnaissance     7522
Generic            4181
DoS                3806
Analysis           1594
Backdoor           1535
Shellcode          1091
Worms               127
Name: attack_cat, dtype: int64

Column: label, Unique Values: 1    55850
0    51890
Name: label, dtype: int64

In [9]:
# replace the - in the 'service' column with 'no_service'
dataset['service'] = dataset['service'].replace('-', 'no_service')
dataset['service'].value_counts()

no_service    64951
http          18135
dns           11046
smtp           5025
ftp-data       3282
ftp            2691
ssh            1295
pop3           1104
snmp             63
ssl              56
dhcp             55
irc              25
radius           12
Name: service, dtype: int64

The 'is_ftp_login' column is a binary column but has more than two unique values. We'll drop these extras

In [10]:
# drop the rows having '4' and '2' in the 'is_ftp_login' column
dataset = dataset[~dataset['is_ftp_login'].isin([4, 2])]

In [11]:
dataset.shape

(107731, 44)

In [12]:
dataset.describe()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
count,107731.000000,107731.000000,107731.000000,1.077310e+05,1.077310e+05,1.077310e+05,107731.000000,107731.000000,1.077310e+05,1.077310e+05,...,107731.000000,107731.000000,107731.000000,107731.000000,107731.000000,107731.000000,107731.000000,107731.000000,107731.000000,107731.000000
mean,1.354659,30.191347,30.060094,1.382647e+04,2.373436e+04,3.869417e+04,143.053958,121.591223,4.968532e+07,1.089326e+06,...,1.984053,1.441925,4.025397,0.017052,0.017052,0.182000,3.905598,4.785187,0.005059,0.518347
std,5.515859,173.425077,136.551577,2.226440e+05,1.786282e+05,1.166361e+05,107.777127,116.014892,2.114147e+08,3.013890e+06,...,3.348072,2.096089,6.156377,0.129465,0.129465,0.578816,4.987496,6.197879,0.070946,0.499666
min,0.000000,1.000000,0.000000,2.800000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,0.001701,4.000000,2.000000,5.000000e+02,1.780000e+02,2.623731e+01,31.000000,29.000000,9.320282e+03,2.113422e+03,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,0.304939,10.000000,8.000000,9.520000e+02,3.540000e+02,8.729732e+01,62.000000,29.000000,8.766153e+04,7.914065e+03,...,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,1.000000
75%,0.971046,22.000000,18.000000,2.542000e+03,3.080000e+03,4.020678e+03,254.000000,252.000000,1.115407e+06,5.463986e+05,...,2.000000,1.000000,4.000000,0.000000,0.000000,0.000000,4.000000,6.000000,0.000000,1.000000
max,59.999989,9616.000000,10974.000000,1.296523e+07,1.465555e+07,1.000000e+06,255.000000,254.000000,5.988000e+09,2.242273e+07,...,51.000000,46.000000,65.000000,1.000000,1.000000,30.000000,60.000000,62.000000,1.000000,1.000000

In [13]:
dataset

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
id,,,,,,,,,,,,,,,,,,,,,
1,0.121478,tcp,no_service,FIN,6,4,258,172,74.087490,252,...,1,1,0,0,0,1,1,0,Normal,0
2,0.649902,tcp,no_service,FIN,14,38,734,42014,78.473372,62,...,1,2,0,0,0,1,6,0,Normal,0
3,1.623129,tcp,no_service,FIN,8,16,364,13186,14.170161,62,...,1,3,0,0,0,2,6,0,Normal,0
4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,62,...,1,3,1,1,0,2,1,0,Normal,0
5,0.449454,tcp,no_service,FIN,10,6,534,268,33.373826,254,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175268,1.914309,tcp,smtp,FIN,74,30,69997,2132,53.805315,62,...,1,1,0,0,0,18,1,0,Exploits,1
175278,3.719110,tcp,no_service,FIN,66,340,3086,426483,108.897021,62,...,1,1,0,0,0,2,1,0,Exploits,1
175300,0.996503,tcp,pop3,FIN,20,30,942,16684,49.171955,62,...,1,1,0,0,0,7,1,0,Exploits,1
175306,1.557125,tcp,smtp,FIN,28,22,12601,1954,31.468251,62,...,1,2,0,0,0,2,1,0,Exploits,1
175338,0.505762,tcp,no_service,FIN,10,8,620,354,33.612649,254,...,1,2,0,0,0,1,1,0,Shellcode,1