In [1]:
from __init__ import Load, Clean

In [2]:
loader = Load('Dataset/training_set.csv')

In [3]:
loader.data()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
id,,,,,,,,,,,,,,,,,,,,,
1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,252,...,1,1,0,0,0,1,1,0,Normal,0
2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,62,...,1,2,0,0,0,1,6,0,Normal,0
3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,62,...,1,3,0,0,0,2,6,0,Normal,0
4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,62,...,1,3,1,1,0,2,1,0,Normal,0
5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,254,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175337,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,13,24,0,0,0,24,24,0,Generic,1
175338,0.505762,tcp,-,FIN,10,8,620,354,33.612649,254,...,1,2,0,0,0,1,1,0,Shellcode,1
175339,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,3,13,0,0,0,3,12,0,Generic,1
175340,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,14,30,0,0,0,30,30,0,Generic,1
175341,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,16,30,0,0,0,30,30,0,Generic,1

In [4]:
loader.features()

----------------Features in the Dataset----------------

Index(['dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [5]:
loader.stats()

----------------Summary Statistics of the Features----------------

                 dur          spkts          dpkts        sbytes  \
count  175341.000000  175341.000000  175341.000000  1.753410e+05
mean        1.359389      20.298664      18.969591  8.844844e+03
std         6.480249     136.887597     110.258271  1.747656e+05
min         0.000000       1.000000       0.000000  2.800000e+01
25%         0.000008       2.000000       0.000000  1.140000e+02
50%         0.001582       2.000000       2.000000  4.300000e+02
75%         0.668069      12.000000      10.000000  1.418000e+03
max        59.999989    9616.000000   10974.000000  1.296523e+07

             dbytes          rate           sttl           dttl         sload  \
count  1.753410e+05  1.753410e+05  175341.000000  175341.000000  1.753410e+05
mean   1.492892e+04  9.540619e+04     179.546997      79.609567  7.345403e+07
std    1.436542e+05  1.654010e+05     102.940011     110.506863  1.883574e+08
min    0.000000e+00  0.000000e+00       0.000000       0.000000  0.000000e+00
25%    0.000000e+00  3.278614e+01      62.000000       0.000000  1.305334e+04
50%    1.640000e+02  3.225807e+03     254.000000      29.000000  8.796748e+05
75%    1.102000e+03  1.250000e+05     254.000000     252.000000  8.888889e+07
max    1.465555e+07  1.000000e+06     255.000000     254.000000  5.988000e+09

              dload  ...  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  \
count  1.753410e+05  ...     175341.000000     175341.000000   175341.000000
mean   6.712056e+05  ...          5.383538          4.206255        8.729881
std    2.421312e+06  ...          8.047104          5.783585       10.956186
min    0.000000e+00  ...          1.000000          1.000000        1.000000
25%    0.000000e+00  ...          1.000000          1.000000        1.000000
50%    1.447023e+03  ...          1.000000          1.000000        3.000000
75%    2.784487e+04  ...          5.000000          3.000000       12.000000
max    2.242273e+07  ...         51.000000         46.000000       65.000000

        is_ftp_login     ct_ftp_cmd  ct_flw_http_mthd     ct_src_ltm  \
count  175341.000000  175341.000000     175341.000000  175341.000000
mean        0.014948       0.014948          0.133066       6.955789
std         0.126048       0.126048          0.701208       8.321493
min         0.000000       0.000000          0.000000       1.000000
25%         0.000000       0.000000          0.000000       2.000000
50%         0.000000       0.000000          0.000000       3.000000
75%         0.000000       0.000000          0.000000       9.000000
max         4.000000       4.000000         30.000000      60.000000

          ct_srv_dst  is_sm_ips_ports          label
count  175341.000000    175341.000000  175341.000000
mean        9.100758         0.015752       0.680622
std        10.756952         0.124516       0.466237
min         1.000000         0.000000       0.000000
25%         2.000000         0.000000       0.000000
50%         4.000000         0.000000       1.000000
75%        12.000000         0.000000       1.000000
max        62.000000         1.000000       1.000000

[8 rows x 40 columns]

In [6]:
loader.info()

----------------Dataset Overall Information----------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175341 entries, 1 to 175341
Data columns (total 44 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dur                175341 non-null  float64
 1   proto              175341 non-null  object
 2   service            175341 non-null  object
 3   state              175341 non-null  object
 4   spkts              175341 non-null  int64
 5   dpkts              175341 non-null  int64
 6   sbytes             175341 non-null  int64
 7   dbytes             175341 non-null  int64
 8   rate               175341 non-null  float64
 9   sttl               175341 non-null  int64
 10  dttl               175341 non-null  int64
 11  sload              175341 non-null  float64
 12  dload              175341 non-null  float64
 13  sloss              175341 non-null  int64
 14  dloss              175341 non-null  int64
 15  sinpkt             175341 non-null  float64
 16  dinpkt             175341 non-null  float64
 17  sjit               175341 non-null  float64
 18  djit               175341 non-null  float64
 19  swin               175341 non-null  int64
 20  stcpb              175341 non-null  int64
 21  dtcpb              175341 non-null  int64
 22  dwin               175341 non-null  int64
 23  tcprtt             175341 non-null  float64
 24  synack             175341 non-null  float64
 25  ackdat             175341 non-null  float64
 26  smean              175341 non-null  int64
 27  dmean              175341 non-null  int64
 28  trans_depth        175341 non-null  int64
 29  response_body_len  175341 non-null  int64
 30  ct_srv_src         175341 non-null  int64
 31  ct_state_ttl       175341 non-null  int64
 32  ct_dst_ltm         175341 non-null  int64
 33  ct_src_dport_ltm   175341 non-null  int64
 34  ct_dst_sport_ltm   175341 non-null  int64
 35  ct_dst_src_ltm     175341 non-null  int64
 36  is_ftp_login       175341 non-null  int64
 37  ct_ftp_cmd         175341 non-null  int64
 38  ct_flw_http_mthd   175341 non-null  int64
 39  ct_src_ltm         175341 non-null  int64
 40  ct_srv_dst         175341 non-null  int64
 41  is_sm_ips_ports    175341 non-null  int64
 42  attack_cat         175341 non-null  object
 43  label              175341 non-null  int64
dtypes: float64(11), int64(29), object(4)
memory usage: 60.2+ MB
None

In [7]:
cleaner = Clean(loader)

In [8]:
cleaner.duplicates()

The dataset has 67601 duplicated rows, which are 38.55% of the total data.

 Removing duplicates...

  Duplicates dropped.

In [9]:
cleaner.duplicates()

The dataset has no duplicated rows.

In [10]:
loader.info()

----------------Dataset Overall Information----------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107740 entries, 1 to 175338
Data columns (total 44 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dur                107740 non-null  float64
 1   proto              107740 non-null  object
 2   service            107740 non-null  object
 3   state              107740 non-null  object
 4   spkts              107740 non-null  int64
 5   dpkts              107740 non-null  int64
 6   sbytes             107740 non-null  int64
 7   dbytes             107740 non-null  int64
 8   rate               107740 non-null  float64
 9   sttl               107740 non-null  int64
 10  dttl               107740 non-null  int64
 11  sload              107740 non-null  float64
 12  dload              107740 non-null  float64
 13  sloss              107740 non-null  int64
 14  dloss              107740 non-null  int64
 15  sinpkt             107740 non-null  float64
 16  dinpkt             107740 non-null  float64
 17  sjit               107740 non-null  float64
 18  djit               107740 non-null  float64
 19  swin               107740 non-null  int64
 20  stcpb              107740 non-null  int64
 21  dtcpb              107740 non-null  int64
 22  dwin               107740 non-null  int64
 23  tcprtt             107740 non-null  float64
 24  synack             107740 non-null  float64
 25  ackdat             107740 non-null  float64
 26  smean              107740 non-null  int64
 27  dmean              107740 non-null  int64
 28  trans_depth        107740 non-null  int64
 29  response_body_len  107740 non-null  int64
 30  ct_srv_src         107740 non-null  int64
 31  ct_state_ttl       107740 non-null  int64
 32  ct_dst_ltm         107740 non-null  int64
 33  ct_src_dport_ltm   107740 non-null  int64
 34  ct_dst_sport_ltm   107740 non-null  int64
 35  ct_dst_src_ltm     107740 non-null  int64
 36  is_ftp_login       107740 non-null  int64
 37  ct_ftp_cmd         107740 non-null  int64
 38  ct_flw_http_mthd   107740 non-null  int64
 39  ct_src_ltm         107740 non-null  int64
 40  ct_srv_dst         107740 non-null  int64
 41  is_sm_ips_ports    107740 non-null  int64
 42  attack_cat         107740 non-null  object
 43  label              107740 non-null  int64
dtypes: float64(11), int64(29), object(4)
memory usage: 37.0+ MB
None

In [11]:
cleaner.check_extraneous()

Column: dur,
  Unique Values:
 0.000009    4276
0.000003    2408
0.000008    2243
0.000010    1662
0.000005    1639
            ...
0.694603       1
1.854685       1
1.315859       1
1.131023       1
1.208004       1
Name: dur, Length: 74039, dtype: int64

Column: proto,
  Unique Values:
 tcp     76293
udp     23027
unas     2582
ospf      775
arp       633
        ...
tlsp       26
ggp        24
igmp       17
icmp       13
rtp         1
Name: proto, Length: 133, dtype: int64

Column: service,
  Unique Values:
 -           64951
http        18135
dns         11046
smtp         5025
ftp-data     3282
ftp          2691
ssh          1295
pop3         1104
snmp           63
ssl            56
dhcp           55
irc            25
radius         12
Name: service, dtype: int64

Column: state,
  Unique Values:
 FIN    74478
INT    19726
CON    12487
REQ      953
RST       83
ECO       10
PAR        1
URN        1
no         1
Name: state, dtype: int64

Column: spkts,
  Unique Values:
 2       26233
10      26004
12       6809
14       4941
4        4094
        ...
7252        1
1686        1
1622        1
1110        1
4094        1
Name: spkts, Length: 480, dtype: int64

Column: dpkts,
  Unique Values:
 0       20693
8       16270
6       11773
2        8725
18       6430
        ...
466         1
4560        1
402         1
616         1
5276        1
Name: dpkts, Length: 443, dtype: int64

Column: sbytes,
  Unique Values:
 200      6111
146      4858
564      3496
114      3350
1540     2275
         ...
28392       1
3876        1
5927        1
32554       1
40980       1
Name: sbytes, Length: 7214, dtype: int64

Column: dbytes,
  Unique Values:
 0          20693
268        11046
354         9528
178         4860
10168       2899
           ...
16354          1
4601827        1
65530          1
18990          1
57284          1
Name: dbytes, Length: 6660, dtype: int64

Column: rate,
  Unique Values:
 111111.107200    4275
333333.321500    2408
125000.000300    2239
100000.002500    1661
200000.005100    1640
                 ...
28.836010           1
3.357062            1
55.469872           1
625.105039          1
7.976206            1
Name: rate, Length: 76991, dtype: int64

Column: sttl,
  Unique Values:
 254    52038
31     39123
62     15753
0        711
1         61
63        29
255        8
64         7
60         6
252        2
29         2
Name: sttl, dtype: int64

Column: dttl,
  Unique Values:
 252    47376
29     39123
0      20782
60       455
254        2
31         2
Name: dttl, dtype: int64

Column: sload,
  Unique Values:
 8.888889e+07    1839
5.066666e+07     893
2.666667e+08     873
1.000000e+08     780
0.000000e+00     574
                ...
3.744000e+08       1
5.570048e+02       1
7.120000e+08       1
5.197308e+05       1
8.517290e+05       1
Name: sload, Length: 80885, dtype: int64

Column: dload,
  Unique Values:
 0.000000         20700
676163.375000       57
670433.125000       54
680688.312500       53
681992.312500       51
                 ...
10288.103520         1
14787.307620         1
5810.616699          1
14342.037110         1
3041.515381          1
Name: dload, Length: 77474, dtype: int64

Column: sloss,
  Unique Values:
 0       31489
2       29053
7       13892
3        8097
4        5618
        ...
2840        1
281         1
217         1
153         1
3838        1
Name: sloss, Length: 409, dtype: int64

Column: dloss,
  Unique Values:
 0       32249
1       24192
2       10753
4        6696
8        5197
        ...
895         1
797         1
540         1
572         1
1151        1
Name: dloss, Length: 370, dtype: int64

Column: sinpkt,
  Unique Values:
 0.009000      7333
0.008000      3460
0.003000      2660
0.010000      2536
0.005000      1977
              ...
5.693000         1
88.571767        1
159.906778       1
79.982778        1
6.671075         1
Name: sinpkt, Length: 76161, dtype: int64

Column: dinpkt,
  Unique Values:
 0.000000      20703
0.007000       3413
0.006000       1027
0.002000        748
0.008000        727
              ...
0.398525          1
85.087289         1
282.874375        1
229.343031        1
12.547052         1
Name: dinpkt, Length: 74245, dtype: int64

Column: sjit,
  Unique Values:
 0.000000       27913
10.954521         11
0.626025           9
0.629325           9
0.620368           8
               ...
15.389659          1
984.745971         1
997.438841         1
22.846401          1
1242.940303        1
Name: sjit, Length: 77532, dtype: int64

Column: djit,
  Unique Values:
 0.000000      29640
0.280961          7
0.289213          6
493.566937        6
658.751688        6
              ...
107.923742        1
668.767875        1
35.342238         1
493.389846        1
195.094375        1
Name: djit, Length: 76831, dtype: int64

Column: swin,
  Unique Values:
 255    76282
0      31447
45         1
172        1
42         1
232        1
168        1
167        1
103        1
31         1
87         1
14         1
192        1
Name: swin, dtype: int64

Column: stcpb,
  Unique Values:
 0             32030
1274098340        4
1538878167        4
2593448590        4
4126991132        4
              ...
3186158775        1
1947638969        1
2865136826        1
712785390         1
3296061347        1
Name: stcpb, Length: 75265, dtype: int64

Column: dtcpb,
  Unique Values:
 0             32036
3330702795       12
1200223257       11
1778713373        9
4185545031        9
              ...
1508400445        1
1921255468        1
2972194497        1
3507483796        1
3618969603        1
Name: dtcpb, Length: 75089, dtype: int64

Column: dwin,
  Unique Values:
 255    75698
0      32037
244        1
48         1
40         1
37         1
70         1
Name: dwin, dtype: int64

Column: tcprtt,
  Unique Values:
 0.000000    32071
0.000665      195
0.000680      178
0.000681      178
0.000664      177
            ...
0.124344        1
0.102235        1
0.070251        1
0.186298        1
0.091017        1
Name: tcprtt, Length: 43319, dtype: int64

Column: synack,
  Unique Values:
 0.000000    32071
0.000541      277
0.000539      273
0.000536      257
0.000542      246
            ...
0.034848        1
0.110812        1
0.076743        1
0.016621        1
0.013663        1
Name: synack, Length: 40142, dtype: int64

Column: ackdat,
  Unique Values:
 0.000000    32072
0.000124     1224
0.000125     1201
0.000123     1039
0.000126     1003
            ...
0.086345        1
0.069021        1
0.046143        1
0.084760        1
0.122420        1
Name: ackdat, Length: 37708, dtype: int64

Column: smean,
  Unique Values:
 100     6424
56      5206
53      5003
73      4984
57      4837
        ...
1371       1
1370       1
1368       1
984        1
1471       1
Name: smean, Length: 1357, dtype: int64

Column: dmean,
  Unique Values:
 0       20693
45      11156
44      11127
89       5162
565      2902
        ...
902         1
1392        1
1350        1
561         1
793         1
Name: dmean, Length: 1328, dtype: int64

Column: trans_depth,
  Unique Values:
 0      90491
1      17157
2         80
4          3
5          2
3          2
172        1
39         1
163        1
155        1
80         1
Name: trans_depth, dtype: int64

Column: response_body_len,
  Unique Values:
 0         96916
3924       2727
83          568
524288      381
109         317
          ...
3364          1
1381          1
1445          1
3812          1
1503          1
Name: response_body_len, Length: 2386, dtype: int64

Column: ct_srv_src,
  Unique Values:
 1     29822
2     16005
3     13175
4      9324
5      7465
6      6560
7      4876
8      3805
9      3180
10     2465
11     1874
12     1615
13      937
14      783
15      593
16      430
17      377
19      283
34      274
18      236
20      233
26      226
33      220
22      217
21      215
28      206
31      198
29      179
27      176
23      176
24      175
30      165
35      141
32      133
36      123
37      122
25      117
39      112
38       94
44       80
40       67
63       60
43       51
42       33
52       32
45       25
46       24
41       18
47       15
49       13
51       11
50        4
Name: ct_srv_src, dtype: int64

Column: ct_state_ttl,
  Unique Values:
 1    46146
0    39857
2    19686
3     1157
6      894
Name: ct_state_ttl, dtype: int64

Column: ct_dst_ltm,
  Unique Values:
 1     46666
2     22424
3     12758
4      7892
5      4691
6      3399
7      2036
8      1340
9      1131
10      683
11      556
16      461
18      443
17      431
14      404
12      344
13      339
15      274
19      229
21      124
25      121
34      106
33       99
24       77
23       74
20       72
26       69
22       66
27       64
32       55
28       47
35       45
30       39
29       32
36       30
31       26
41       15
40       11
37       10
38        9
45        9
39        7
42        7
43        5
44        5
50        4
51        4
46        3
48        3
47        1
Name: ct_dst_ltm, dtype: int64

Column: ct_src_dport_ltm,
  Unique Values:
 1     80564
2     14143
3      4199
4      1701
6      1382
5       819
8       517
16      440
7       410
10      400
12      380
9       357
17      296
13      295
14      283
11      254
18      249
15      213
33      122
34       95
21       55
32       50
25       48
19       48
28       40
20       40
27       38
23       38
24       36
30       34
26       33
22       32
29       30
31       27
36       16
41       12
42        7
35        6
39        6
45        4
38        4
50        4
37        4
51        4
43        3
40        1
46        1
Name: ct_src_dport_ltm, dtype: int64

Column: ct_dst_sport_ltm,
  Unique Values:
 1     96808
2      4935
3      1893
4       794
16      505
17      315
5       312
8       292
18      247
10      220
7       196
6       192
9       186
13      166
11      164
12      153
14      153
15      144
19       10
24       10
22        8
20        7
23        7
26        4
28        4
21        4
25        4
31        2
27        2
40        1
37        1
46        1
Name: ct_dst_sport_ltm, dtype: int64

Column: ct_dst_src_ltm,
  Unique Values:
 1     41494
2     19654
3     13385
4      9279
5      6003
6      4276
7      2933
8      1512
10     1157
9       890
13      615
11      560
12      525
14      325
17      311
34      307
26      274
28      249
15      239
16      230
22      219
33      217
20      215
23      207
30      175
32      173
31      172
19      169
25      163
18      162
21      157
35      156
29      149
27      145
37      136
24      131
39      126
36      118
38      101
40       88
44       79
63       59
51       39
42       36
46       30
45       26
41       25
43       14
47       13
49       13
50        4
52        3
54        1
65        1
Name: ct_dst_src_ltm, dtype: int64

Column: is_ftp_login,
  Unique Values:
 0    105894
1      1837
4         5
2         4
Name: is_ftp_login, dtype: int64

Column: ct_ftp_cmd,
  Unique Values:
 0    105894
1      1837
4         5
2         4
Name: ct_ftp_cmd, dtype: int64

Column: ct_flw_http_mthd,
  Unique Values:
 0     90491
1     16632
4       487
2        52
9        36
6        14
12        8
30        6
25        6
16        5
3         3
Name: ct_flw_http_mthd, dtype: int64

Column: ct_src_ltm,
  Unique Values:
 1     35441
2     24428
3     14342
4      8815
5      5794
6      3972
7      2315
8      2271
9      1465
10     1197
18      700
17      678
11      658
12      598
13      594
16      544
19      538
14      417
15      382
21      347
20      303
26      221
23      193
24      189
27      188
25      174
22      155
34      152
33      103
28      100
32       64
35       52
29       44
30       40
37       39
31       37
36       31
44       23
41       23
42       21
45       19
40       17
39       16
46       11
38       10
43        6
50        4
51        4
47        4
60        1
Name: ct_src_ltm, dtype: int64

Column: ct_srv_dst,
  Unique Values:
 1     35126
2     15250
3     12650
4      8749
5      7298
6      5892
7      4318
8      3476
9      2501
10     2357
11     1670
12     1412
13      921
14      835
16      383
15      325
17      278
34      273
18      241
26      235
19      228
33      218
21      207
30      204
31      202
23      197
20      193
22      187
28      181
24      157
39      156
27      154
29      152
25      143
36      140
37      134
32      127
35      118
38       94
44       72
62       59
40       46
51       39
42       36
46       24
45       22
41       18
49       13
47       12
43       10
50        4
52        3
Name: ct_srv_dst, dtype: int64

Column: is_sm_ips_ports,
  Unique Values:
 0    107195
1       545
Name: is_sm_ips_ports, dtype: int64

Column: attack_cat,
  Unique Values:
 Normal            51890
Exploits          19844
Fuzzers           16150
Reconnaissance     7522
Generic            4181
DoS                3806
Analysis           1594
Backdoor           1535
Shellcode          1091
Worms               127
Name: attack_cat, dtype: int64

Column: label,
  Unique Values:
 1    55850
0    51890
Name: label, dtype: int64

In [12]:
cleaner.replace_extraneous()

Extraneous value found in column service: -

 Cleaning service column...


 Replaced 64951 occurrences of '-' in column 'service' with 'no-service'.

c:\Users\DELL\Documents\Moringa\Phase5\CyberThreat_detection_project\AI-Powered-CyberThreat-Detection\__init__.py:55: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if placeholder in self.df[col].values:

The 'is_ftp_login' column is a binary column but has more than two unique values. We'll drop these extras

In [13]:
cleaner.binary_check()

Extra values found in 'is_ftp_login': [0 1 2 4]


 Cleaning is_ftp_login column...


 is_ftp_login column cleaned.

 Column 'is_sm_ips_ports' has only binary values.

In [14]:
cleaner.binary_check()

 Column 'is_ftp_login' has only binary values.

 Column 'is_sm_ips_ports' has only binary values.

In [15]:
df1 = cleaner.df

In [16]:
test_loader = Load('Dataset/testing_set.csv')

In [17]:
test_loader.data()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
id,,,,,,,,,,,,,,,,,,,,,
1,0.000011,udp,-,INT,2,0,496,0,90909.090200,254,...,1,2,0,0,0,1,2,0,Normal,0
2,0.000008,udp,-,INT,2,0,1762,0,125000.000300,254,...,1,2,0,0,0,1,2,0,Normal,0
3,0.000005,udp,-,INT,2,0,1068,0,200000.005100,254,...,1,3,0,0,0,1,3,0,Normal,0
4,0.000006,udp,-,INT,2,0,900,0,166666.660800,254,...,1,3,0,0,0,2,3,0,Normal,0
5,0.000010,udp,-,INT,2,0,2126,0,100000.002500,254,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,0.000005,udp,-,INT,2,0,104,0,200000.005100,254,...,1,2,0,0,0,2,1,0,Normal,0
82329,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,254,...,1,1,0,0,0,3,2,0,Normal,0
82330,0.000000,arp,-,INT,1,0,46,0,0.000000,0,...,1,1,0,0,0,1,1,1,Normal,0
82331,0.000000,arp,-,INT,1,0,46,0,0.000000,0,...,1,1,0,0,0,1,1,1,Normal,0
82332,0.000009,udp,-,INT,2,0,104,0,111111.107200,254,...,1,1,0,0,0,1,1,0,Normal,0

In [18]:
test_loader.features()

----------------Features in the Dataset----------------

Index(['dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [19]:
test_loader.stats()

----------------Summary Statistics of the Features----------------

                dur         spkts         dpkts        sbytes        dbytes  \
count  82332.000000  82332.000000  82332.000000  8.233200e+04  8.233200e+04
mean       1.006756     18.666472     17.545936  7.993908e+03  1.323379e+04
std        4.710444    133.916353    115.574086  1.716423e+05  1.514715e+05
min        0.000000      1.000000      0.000000  2.400000e+01  0.000000e+00
25%        0.000008      2.000000      0.000000  1.140000e+02  0.000000e+00
50%        0.014138      6.000000      2.000000  5.340000e+02  1.780000e+02
75%        0.719360     12.000000     10.000000  1.280000e+03  9.560000e+02
max       59.999989  10646.000000  11018.000000  1.435577e+07  1.465753e+07

               rate          sttl          dttl         sload         dload  \
count  8.233200e+04  82332.000000  82332.000000  8.233200e+04  8.233200e+04
mean   8.241089e+04    180.967667     95.713003  6.454902e+07  6.305470e+05
std    1.486204e+05    101.513358    116.667722  1.798618e+08  2.393001e+06
min    0.000000e+00      0.000000      0.000000  0.000000e+00  0.000000e+00
25%    2.860611e+01     62.000000      0.000000  1.120247e+04  0.000000e+00
50%    2.650177e+03    254.000000     29.000000  5.770032e+05  2.112951e+03
75%    1.111111e+05    254.000000    252.000000  6.514286e+07  1.585808e+04
max    1.000000e+06    255.000000    253.000000  5.268000e+09  2.082111e+07

       ...  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login  \
count  ...      82332.000000      82332.000000    82332.000000  82332.000000
mean   ...          4.928898          3.663011        7.456360      0.008284
std    ...          8.389545          5.915386       11.415191      0.091171
min    ...          1.000000          1.000000        1.000000      0.000000
25%    ...          1.000000          1.000000        1.000000      0.000000
50%    ...          1.000000          1.000000        3.000000      0.000000
75%    ...          4.000000          3.000000        6.000000      0.000000
max    ...         59.000000         38.000000       63.000000      2.000000

         ct_ftp_cmd  ct_flw_http_mthd    ct_src_ltm    ct_srv_dst  \
count  82332.000000      82332.000000  82332.000000  82332.000000
mean       0.008381          0.129743      6.468360      9.164262
std        0.092485          0.638683      8.543927     11.121413
min        0.000000          0.000000      1.000000      1.000000
25%        0.000000          0.000000      1.000000      2.000000
50%        0.000000          0.000000      3.000000      5.000000
75%        0.000000          0.000000      7.000000     11.000000
max        2.000000         16.000000     60.000000     62.000000

       is_sm_ips_ports         label
count     82332.000000  82332.000000
mean          0.011126      0.550600
std           0.104891      0.497436
min           0.000000      0.000000
25%           0.000000      0.000000
50%           0.000000      1.000000
75%           0.000000      1.000000
max           1.000000      1.000000

[8 rows x 40 columns]

In [20]:
test_loader.info()

----------------Dataset Overall Information----------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82332 entries, 1 to 82332
Data columns (total 44 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dur                82332 non-null  float64
 1   proto              82332 non-null  object
 2   service            82332 non-null  object
 3   state              82332 non-null  object
 4   spkts              82332 non-null  int64
 5   dpkts              82332 non-null  int64
 6   sbytes             82332 non-null  int64
 7   dbytes             82332 non-null  int64
 8   rate               82332 non-null  float64
 9   sttl               82332 non-null  int64
 10  dttl               82332 non-null  int64
 11  sload              82332 non-null  float64
 12  dload              82332 non-null  float64
 13  sloss              82332 non-null  int64
 14  dloss              82332 non-null  int64
 15  sinpkt             82332 non-null  float64
 16  dinpkt             82332 non-null  float64
 17  sjit               82332 non-null  float64
 18  djit               82332 non-null  float64
 19  swin               82332 non-null  int64
 20  stcpb              82332 non-null  int64
 21  dtcpb              82332 non-null  int64
 22  dwin               82332 non-null  int64
 23  tcprtt             82332 non-null  float64
 24  synack             82332 non-null  float64
 25  ackdat             82332 non-null  float64
 26  smean              82332 non-null  int64
 27  dmean              82332 non-null  int64
 28  trans_depth        82332 non-null  int64
 29  response_body_len  82332 non-null  int64
 30  ct_srv_src         82332 non-null  int64
 31  ct_state_ttl       82332 non-null  int64
 32  ct_dst_ltm         82332 non-null  int64
 33  ct_src_dport_ltm   82332 non-null  int64
 34  ct_dst_sport_ltm   82332 non-null  int64
 35  ct_dst_src_ltm     82332 non-null  int64
 36  is_ftp_login       82332 non-null  int64
 37  ct_ftp_cmd         82332 non-null  int64
 38  ct_flw_http_mthd   82332 non-null  int64
 39  ct_src_ltm         82332 non-null  int64
 40  ct_srv_dst         82332 non-null  int64
 41  is_sm_ips_ports    82332 non-null  int64
 42  attack_cat         82332 non-null  object
 43  label              82332 non-null  int64
dtypes: float64(11), int64(29), object(4)
memory usage: 28.3+ MB
None

In [21]:
test_cleaner = Clean(test_loader)

In [22]:
test_cleaner.duplicates()

The dataset has 26387 duplicated rows, which are 32.05% of the total data.

 Removing duplicates...

  Duplicates dropped.

In [23]:
test_cleaner.duplicates()

The dataset has no duplicated rows.

In [24]:
test_loader.info()

----------------Dataset Overall Information----------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945 entries, 1 to 82329
Data columns (total 44 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dur                55945 non-null  float64
 1   proto              55945 non-null  object
 2   service            55945 non-null  object
 3   state              55945 non-null  object
 4   spkts              55945 non-null  int64
 5   dpkts              55945 non-null  int64
 6   sbytes             55945 non-null  int64
 7   dbytes             55945 non-null  int64
 8   rate               55945 non-null  float64
 9   sttl               55945 non-null  int64
 10  dttl               55945 non-null  int64
 11  sload              55945 non-null  float64
 12  dload              55945 non-null  float64
 13  sloss              55945 non-null  int64
 14  dloss              55945 non-null  int64
 15  sinpkt             55945 non-null  float64
 16  dinpkt             55945 non-null  float64
 17  sjit               55945 non-null  float64
 18  djit               55945 non-null  float64
 19  swin               55945 non-null  int64
 20  stcpb              55945 non-null  int64
 21  dtcpb              55945 non-null  int64
 22  dwin               55945 non-null  int64
 23  tcprtt             55945 non-null  float64
 24  synack             55945 non-null  float64
 25  ackdat             55945 non-null  float64
 26  smean              55945 non-null  int64
 27  dmean              55945 non-null  int64
 28  trans_depth        55945 non-null  int64
 29  response_body_len  55945 non-null  int64
 30  ct_srv_src         55945 non-null  int64
 31  ct_state_ttl       55945 non-null  int64
 32  ct_dst_ltm         55945 non-null  int64
 33  ct_src_dport_ltm   55945 non-null  int64
 34  ct_dst_sport_ltm   55945 non-null  int64
 35  ct_dst_src_ltm     55945 non-null  int64
 36  is_ftp_login       55945 non-null  int64
 37  ct_ftp_cmd         55945 non-null  int64
 38  ct_flw_http_mthd   55945 non-null  int64
 39  ct_src_ltm         55945 non-null  int64
 40  ct_srv_dst         55945 non-null  int64
 41  is_sm_ips_ports    55945 non-null  int64
 42  attack_cat         55945 non-null  object
 43  label              55945 non-null  int64
dtypes: float64(11), int64(29), object(4)
memory usage: 19.2+ MB
None

In [25]:
test_cleaner.check_extraneous()

Column: dur,
  Unique Values:
 0.000009    1561
0.000003    1284
0.000008    1255
0.000010    1092
0.000004    1062
            ...
1.190329       1
0.845760       1
0.004365       1
1.534591       1
0.484756       1
Name: dur, Length: 39888, dtype: int64

Column: proto,
  Unique Values:
 tcp       40559
udp       12541
unas        885
arp         298
ospf        190
          ...
ax.25        10
encap        10
iatp         10
ipcomp       10
ib            9
Name: proto, Length: 131, dtype: int64

Column: service,
  Unique Values:
 -           37027
http         7930
dns          6091
smtp         1759
ftp          1291
ftp-data     1177
pop3          381
ssh           204
ssl            30
snmp           25
dhcp           19
radius          6
irc             5
Name: service, dtype: int64

Column: state,
  Unique Values:
 FIN    37355
INT    10646
CON     6711
REQ     1227
ACC        4
CLO        1
RST        1
Name: state, dtype: int64

Column: spkts,
  Unique Values:
 10      15533
2       14259
12       2968
14       2585
16       2436
        ...
447         1
638         1
7340        1
207         1
3262        1
Name: spkts, Length: 420, dtype: int64

Column: dpkts,
  Unique Values:
 0       11874
8        8907
6        7155
2        5253
10       3456
        ...
109         1
824         1
5902        1
1324        1
863         1
Name: dpkts, Length: 436, dtype: int64

Column: sbytes,
  Unique Values:
 114        2980
534        2193
146        2098
200        2063
1540       1652
           ...
93983         1
128780        1
1633999       1
9910          1
4130          1
Name: sbytes, Length: 4489, dtype: int64

Column: dbytes,
  Unique Values:
 0          11874
268         6836
354         5296
178         2097
86          1875
           ...
2055289        1
152696         1
119912         1
9302           1
44474          1
Name: dbytes, Length: 4034, dtype: int64

Column: rate,
  Unique Values:
 111111.107200    1587
125000.000300    1258
333333.321500    1224
100000.002500    1103
250000.000600    1020
                 ...
11.412199           1
25.306432           1
71.864205           1
1040.713978         1
68.312874           1
Name: rate, Length: 40616, dtype: int64

Column: sttl,
  Unique Values:
 254    29726
31     16590
62      9193
0        314
29        49
255       20
1         20
32        19
60        11
30         2
63         1
Name: sttl, dtype: int64

Column: dttl,
  Unique Values:
 252    27281
29     16556
0      11905
60       113
30        43
31        36
253        7
32         4
Name: dttl, dtype: int64

Column: sload,
  Unique Values:
 5.066666e+07    494
5.700000e+07    379
1.520000e+08    353
1.000000e+08    352
2.666667e+08    309
               ...
7.254091e+03      1
1.065057e+02      1
1.331620e+04      1
7.173947e+03      1
1.202099e+04      1
Name: sload, Length: 42873, dtype: int64

Column: dload,
  Unique Values:
 0.000000         11881
657433.062500       26
678741.687500       25
676806.125000       24
668544.625000       23
                 ...
70122.304690         1
2425.682861          1
54959.964840         1
9789.331055          1
152603.468800        1
Name: dload, Length: 40614, dtype: int64

Column: sloss,
  Unique Values:
 2       18491
0       15461
7        5615
4        3606
3        3455
        ...
269         1
281         1
1484        1
556         1
319         1
Name: sloss, Length: 253, dtype: int64

Column: dloss,
  Unique Values:
 0       16723
1       15223
2        5718
4        4032
8        2077
        ...
400         1
336         1
2257        1
176         1
383         1
Name: dloss, Length: 311, dtype: int64

Column: sinpkt,
  Unique Values:
 0.011000      2093
0.010000      1998
0.009000      1637
0.008000      1406
0.003000      1290
              ...
49.580922        1
56.523400        1
130.736849       1
30.490556        1
76.750172        1
Name: sinpkt, Length: 39970, dtype: int64

Column: dinpkt,
  Unique Values:
 0.000000      11883
0.008000       1285
0.009000        876
0.007000        630
0.002000        494
              ...
111.407141        1
104.690078        1
69.487797         1
6.576429          1
134.473719        1
Name: dinpkt, Length: 37617, dtype: int64

Column: sjit,
  Unique Values:
 0.000000       15398
0.630975           7
0.632625           7
29.430768          6
552.206063         6
               ...
7766.174375        1
4785.059484        1
7293.983222        1
1.745377           1
1835.138777        1
Name: sjit, Length: 39944, dtype: int64

Column: djit,
  Unique Values:
 0.000000      17236
0.328107          5
78.561906         4
61.757609         4
59.145906         4
              ...
104.002031        1
98.124594         1
26.080918         1
28.724471         1
15.724953         1
Name: djit, Length: 38381, dtype: int64

Column: swin,
  Unique Values:
 255    40550
0      15386
156        1
154        1
245        1
52         1
43         1
202        1
5          1
99         1
67         1
Name: swin, dtype: int64

Column: stcpb,
  Unique Values:
 0             16529
1057528719        4
3397390711        4
3747750427        4
2321722319        4
              ...
2283901479        1
1041010987        1
124750372         1
3553145379        1
421369768         1
Name: stcpb, Length: 39219, dtype: int64

Column: dtcpb,
  Unique Values:
 0             16542
930012124         8
463094449         6
3773804157        5
825175508         4
              ...
2547442079        1
2584144232        1
330602854         1
147554661         1
1815439395        1
Name: dtcpb, Length: 39108, dtype: int64

Column: dwin,
  Unique Values:
 255    39381
0      16551
27         2
125        1
209        1
81         1
46         1
77         1
12         1
171        1
137        1
164        1
33         1
160        1
Name: dwin, dtype: int64

Column: tcprtt,
  Unique Values:
 0.000000    16751
0.000665       85
0.000667       80
0.000678       80
0.000663       77
            ...
0.212557        1
0.156595        1
0.144593        1
0.187490        1
0.165104        1
Name: tcprtt, Length: 26130, dtype: int64

Column: synack,
  Unique Values:
 0.000000    16751
0.000548      120
0.000551      112
0.000535      106
0.000543      106
            ...
0.092893        1
0.088624        1
0.084880        1
0.092365        1
0.006552        1
Name: synack, Length: 24934, dtype: int64

Column: ackdat,
  Unique Values:
 0.000000    16783
0.000134      486
0.000133      468
0.000135      461
0.000136      395
            ...
0.033224        1
0.044241        1
0.000771        1
0.035215        1
0.111806        1
Name: ackdat, Length: 24020, dtype: int64

Column: smean,
  Unique Values:
 57      3716
53      3449
73      2195
100     2177
56      2082
        ...
430        1
590        1
622        1
1166       1
1263       1
Name: smean, Length: 1282, dtype: int64

Column: dmean,
  Unique Values:
 0       11874
45       6895
44       6025
89       2212
43       2091
        ...
976         1
1136        1
1264        1
1360        1
1455        1
Name: dmean, Length: 1222, dtype: int64

Column: trans_depth,
  Unique Values:
 0      48701
1       7210
2         28
3          2
9          1
8          1
4          1
131        1
Name: trans_depth, dtype: int64

Column: response_body_len,
  Unique Values:
 0         50607
3924       1037
83          361
524288      149
109          96
          ...
1755          1
36746         1
112           1
6163          1
1071          1
Name: response_body_len, Length: 1190, dtype: int64

Column: ct_srv_src,
  Unique Values:
 1     11375
2      8080
3      6900
4      5359
5      4239
6      3462
7      2719
8      2143
9      1837
10     1719
11     1138
12     1002
13      857
14      793
15      516
16      378
18      320
17      314
19      257
29      165
23      153
21      145
32      136
26      133
36      128
34      117
33      116
30      108
35      105
39      102
27       99
28       89
22       89
37       84
31       81
20       75
38       74
25       69
43       66
24       61
45       53
40       50
41       33
44       31
49       31
51       24
47       23
50       22
42       20
46       14
48       13
52        8
59        8
53        4
58        4
54        3
63        1
Name: ct_srv_src, dtype: int64

Column: ct_state_ttl,
  Unique Values:
 1    25294
0    16798
2    10601
3     2016
6     1207
4       28
5        1
Name: ct_state_ttl, dtype: int64

Column: ct_dst_ltm,
  Unique Values:
 1     24073
2     11643
3      5951
4      3936
5      2350
6      1861
7      1433
8       953
9       683
10      477
11      337
14      272
18      247
12      173
13      137
17      133
19      122
16      122
25      120
15      100
22       83
20       72
24       63
26       61
23       58
43       54
27       53
21       47
32       39
35       31
33       22
34       21
37       21
30       20
36       20
40       20
38       18
39       17
28       17
29       16
42       15
31       13
41       12
44       10
45        4
48        4
59        4
47        3
52        3
50        1
Name: ct_dst_ltm, dtype: int64

Column: ct_src_dport_ltm,
  Unique Values:
 1     39209
2      7919
3      2260
6      1488
4      1432
5       799
7       602
8       224
14      192
10      187
9       182
18      164
11      141
25      119
12      115
15       91
13       84
16       81
43       61
17       54
20       43
19       42
23       40
21       32
26       32
24       29
35       27
27       26
22       23
34       21
37       21
32       20
40       19
33       19
39       17
29       16
38       16
42       15
36       14
31       13
41       12
30       12
28       12
59        4
45        3
47        3
48        3
52        3
44        3
50        1
Name: ct_src_dport_ltm, dtype: int64

Column: ct_dst_sport_ltm,
  Unique Values:
 1     49498
2      2523
4      1057
3       946
6       344
18      198
25      147
8       133
10      116
14      111
5       105
9       102
11       75
16       73
13       67
12       65
15       64
7        60
17       47
19       36
20       36
23       33
24       31
21       29
22       28
27        6
28        4
33        2
31        2
37        2
26        2
32        2
38        1
Name: ct_dst_sport_ltm, dtype: int64

Column: ct_dst_src_ltm,
  Unique Values:
 1     25034
2      9397
3      6037
4      4382
5      2527
6      2497
7      1401
8       676
9       392
10      336
11      211
35      171
32      148
14      147
12      142
26      121
28      109
27      104
34      103
31      100
30       99
16       93
39       92
17       92
29       90
37       89
33       87
25       85
13       81
36       81
21       78
18       76
43       74
20       74
19       73
23       65
38       60
40       57
22       57
24       55
45       53
15       52
48       39
41       35
44       30
51       24
47       23
50       22
42       20
46       16
52        8
59        8
63        7
49        4
53        4
58        4
54        3
Name: ct_dst_src_ltm, dtype: int64

Column: is_ftp_login,
  Unique Values:
 0    55419
1      525
2        1
Name: is_ftp_login, dtype: int64

Column: ct_ftp_cmd,
  Unique Values:
 0    55417
1      524
2        4
Name: ct_ftp_cmd, dtype: int64

Column: ct_flw_http_mthd,
  Unique Values:
 0     48703
1      6881
4       280
9        53
2        14
16        9
12        3
6         2
Name: ct_flw_http_mthd, dtype: int64

Column: ct_src_ltm,
  Unique Values:
 1     18794
2     12612
3      6864
4      4068
5      2972
6      1939
7      1377
8      1299
9      1128
10      887
11      700
12      591
13      371
18      279
14      242
15      223
19      184
17      171
16      143
20      111
23      107
21      103
25       88
26       78
22       73
27       72
24       58
43       45
33       37
35       36
37       29
28       25
40       24
34       24
36       20
39       20
42       19
32       18
44       17
38       16
29       16
31       16
30       14
41       12
47        7
45        5
60        4
48        3
52        3
50        1
Name: ct_src_ltm, dtype: int64

Column: ct_srv_dst,
  Unique Values:
 1     14101
2      8178
3      6955
4      5122
5      4163
6      3108
7      2253
8      1816
9      1652
10     1500
11     1008
12      994
14      653
13      533
15      392
16      379
18      313
17      309
35      167
32      139
19      138
26      125
34      117
21      115
29      115
30      111
23      102
31      100
27       98
33       95
36       89
25       88
28       88
20       86
37       84
39       84
43       63
22       62
24       55
38       54
40       50
45       50
48       39
41       33
44       31
51       24
42       23
47       23
50       22
46       14
59        8
52        8
58        4
53        4
49        4
54        3
62        1
Name: ct_srv_dst, dtype: int64

Column: is_sm_ips_ports,
  Unique Values:
 0    55677
1      268
Name: is_sm_ips_ports, dtype: int64

Column: attack_cat,
  Unique Values:
 Normal            34206
Exploits           7609
Fuzzers            4838
Generic            3657
Reconnaissance     2703
DoS                1718
Analysis            446
Shellcode           378
Backdoor            346
Worms                44
Name: attack_cat, dtype: int64

Column: label,
  Unique Values:
 0    34206
1    21739
Name: label, dtype: int64

In [26]:
test_cleaner.replace_extraneous()

Extraneous value found in column service: -

 Cleaning service column...


 Replaced 37027 occurrences of '-' in column 'service' with 'no-service'.

c:\Users\DELL\Documents\Moringa\Phase5\CyberThreat_detection_project\AI-Powered-CyberThreat-Detection\__init__.py:55: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if placeholder in self.df[col].values:

The 'is_ftp_login' column is a binary column but has more than two unique values. We'll drop these extras

In [27]:
test_cleaner.binary_check()

Extra values found in 'is_ftp_login': [0 1 2]


 Cleaning is_ftp_login column...


 is_ftp_login column cleaned.

 Column 'is_sm_ips_ports' has only binary values.

In [28]:
test_cleaner.binary_check()

 Column 'is_ftp_login' has only binary values.

 Column 'is_sm_ips_ports' has only binary values.

In [29]:
test_df = test_cleaner.df

In [30]:
test_df

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
id,,,,,,,,,,,,,,,,,,,,,
1,0.000011,udp,no-service,INT,2,0,496,0,90909.090200,254,...,1,2,0,0,0,1,2,0,Normal,0
2,0.000008,udp,no-service,INT,2,0,1762,0,125000.000300,254,...,1,2,0,0,0,1,2,0,Normal,0
3,0.000005,udp,no-service,INT,2,0,1068,0,200000.005100,254,...,1,3,0,0,0,1,3,0,Normal,0
4,0.000006,udp,no-service,INT,2,0,900,0,166666.660800,254,...,1,3,0,0,0,2,3,0,Normal,0
5,0.000010,udp,no-service,INT,2,0,2126,0,100000.002500,254,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82320,0.811914,tcp,no-service,FIN,10,6,588,268,18.474862,254,...,1,4,0,0,0,1,4,0,Normal,0
82323,0.000004,udp,no-service,INT,2,0,104,0,250000.000600,254,...,1,1,0,0,0,1,1,0,Normal,0
82324,5.167410,tcp,no-service,FIN,108,24,138067,1042,25.351192,254,...,1,1,0,0,0,1,3,0,Normal,0
82328,0.000005,udp,no-service,INT,2,0,104,0,200000.005100,254,...,1,2,0,0,0,2,1,0,Normal,0
82329,1.106101,tcp,no-service,FIN,20,8,18062,354,24.410067,254,...,1,1,0,0,0,3,2,0,Normal,0

In [31]:
## Exploratory Data Analysis

#### Univariate Analysis

In [32]:
import matplotlib.pyplot as plt 
import plotly.express as px
import seaborn as sns

In [33]:
# # Convert attack_cat to string type 
# df1['attack_cat'] = df1['attack_cat'].astype(str)

# # Get attack category counts
# attack_counts = df1['attack_cat'].value_counts().reset_index()
# attack_counts.columns = ['attack_cat', 'count']  # Rename for clarity

# # Bar plot
# fig = px.bar(
#     attack_counts,
#     x='attack_cat',
#     y='count',
#     labels={'attack_cat': 'Attack Category', 'count': 'Count'},
#     title='Distribution of Attack Categories',
#     color='attack_cat'
# )
# fig.show()

From the bar plot showing the distribution of attack categories, we can observe that the most frequent category is *Normal, indicating no attack activity. This is followed by **Exploits, **Fuzzers, and **Reconnaissance, while the **Worm* attack category has the lowest count.

In [34]:
# # List of main numerical features (feel free to adjust based on importance)
# main_features = [
#     'dur', 'sbytes', 'dbytes','sload', 'dload','spkts', 'dpkts','smean', 'dmean',
# 'rate'
# ]

# # Plotting settings
# sns.set(style='whitegrid')
# plt.figure(figsize=(20, 15))

# # Loop through each feature and plot
# for i, feature in enumerate(main_features):
#     plt.subplot(4, 3, i + 1)
#     sns.histplot(df1[feature], kde=True, bins=50, color='skyblue')
#     plt.title(f'Distribution of {feature}')
#     plt.xlabel(feature)
#     plt.ylabel('Frequency')

# plt.tight_layout()
# plt.show()

The distributions of the selected numerical features are all highly *right-skewed*, with the majority of values concentrated near zero and a long tail extending toward higher values. This indicates that:

* *Most network traffic instances involve low durations, small packet sizes, and low data transfer rates.*
* *Only a small number of observations exhibit unusually high values*, possibly indicating outliers or abnormal behaviors such as attacks or large data transfers.
* Features like smean and rate show *multi-modal characteristics*, suggesting the presence of distinct traffic patterns or clusters within the data.

## Bivariate Analysis

#### Numerical Features

In [35]:
# # List of important features to compare with label
# main_features = [
#     'sbytes', 'dbytes', 'rate',
    
# ]

# # Plot each feature against the binary target 'label'
# for feature in main_features:
#     fig = px.box(df1, x='label', y=feature, color='label',
#                  title=f'{feature} vs Label (Bivariate Box Plot)',
#                  labels={'label': 'Is Malicious (0=No, 1=Yes)', feature: feature})
#     fig.show()

1. Rate vs Label:
Malicious traffic (label = 1) exhibits a noticeably higher and more variable rate compared to normal traffic (label = 0). The  extreme outliers suggest that malicious activities often involve rapid data transfers. This makes rate a potentially strong indicator of threats .

1. Dbytes vs Label:
Malicious flows have significantly higher destination byte counts with many outliers above 14 million. Normal traffic remains relatively low and less spread. This pattern implies dbytes could be a strong indicator of attacks involving large data transfers.

1. Sbytes vs Label:
Malicious traffic has much higher sbytes values, often exceeding 12 million, while normal flows are lower and tightly distributed. The wide spread and outliers suggest large source transfers are common in attacks. Therefore, sbytes may help in detecting abnormal activity effectively.

The visualizations below display the top ten categories for each feature, showing the counts of normal and malicious instances within each category.

In [36]:
# import plotly.express as px

# # Map binary labels to descriptive names
# df1['label_named'] = df1['label'].map({0: 'Normal', 1: 'Malicious'})

# # Filter to top 10 protocols by count
# top_protocols = df1['proto'].value_counts().nlargest(10).index
# df_proto = df1[df1['proto'].isin(top_protocols)]

# # Protocol vs Binary Label (Top 10 Only)
# fig = px.histogram(df_proto, x='proto', color='label_named', barmode='group',
#                    title='Top 10 Protocols vs Binary Label',
#                    labels={'label_named': 'Traffic Type'})
# fig.show()

Protocal vs Binary label

The most frequent protocol, TCP, shows that a large portion of its traffic is associated with malicious behavior. In contrast, UDP has a higher count of normal (non-malicious) traffic, indicating that it is not heavily targeted by attacks.

In [37]:
# # Service vs Binary Label
# fig = px.histogram(df1, x='service', color='label_named', barmode='group',
#                    title='Service vs Binary Label',
#                    labels={'label_named': 'Traffic Type'})
# fig.show()

Service vs Binary label
The "no_service" category contains both malicious and normal traffic in almost equal amounts. The HTTP service, however, shows a higher count of malicious activity, while DNS has a higher count of normal traffic compared to malicious.

In [38]:
# # State vs Binary Label
# fig = px.histogram(df1, x='state', color='label_named', barmode='group',
#                    title='State vs Binary Label',
#                    labels={'label_named': 'Traffic Type'})
# fig.show()

State vs Binary label
The FIN state appears most frequently and shows almost equal counts of both malicious and normal traffic. The INT state shows a higher number of malicious activities than normal, whereas the CON state shows the opposite normal traffic dominates over malicious.

In [39]:
# import plotly.express as px

# # Get top 5 most frequent services
# top_services = df1['service'].value_counts().nlargest(5).index

# # Filter the dataframe to only include those top 5 services
# df_service = df1[df1['service'].isin(top_services)]

# # Plot histogram
# fig = px.histogram(df_service, x='service', color='attack_cat', barmode='group',
#                    title='Top 5 Services vs Attack Category')
# fig.show()

The graph above shows the count of each attack category. It reveals that the most targeted category is 'no_service', which exhibits a range of attack counts from high to low. This is followed by 'http', although its attack counts are relatively lower.

#### Multivariate Analysis

In [40]:
# # Select only numeric columns manually
# numeric_df = df1.select_dtypes(include=['number'])

# # Compute correlation matrix
# corr_matrix = numeric_df.corr()

# # Get top 20 features most correlated with the label
# top_corr_features = corr_matrix['label'].abs().sort_values(ascending=False).head(21).index

# # Filter for top correlated features
# top_corr_df = numeric_df[top_corr_features]

# # Plot heatmap
# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(14, 10))
# sns.heatmap(top_corr_df.corr(), annot=True, cmap='coolwarm', fmt=".2f")
# plt.title('Correlation Heatmap of Top 20 Features with Label')
# plt.show()

The heatmap above shows the top 20 features most correlated with the label (0 = normal, 1 = malicious). Darker shades indicate stronger correlations either positive or negative while lighter shades show weaker relationships. This helps identify which features are more informative for detecting malicious activity and highlights inter-feature dependencies or redundancy.

### Modelling

In [41]:
import warnings
from sklearn.exceptions import ConvergenceWarning

# Suppress convergence warnings
warnings.filterwarnings("ignore", category=ConvergenceWarning)


#Drop the label column
df1.drop(columns=['label'], inplace=True,errors='ignore')
#Label encode the attack_cat column 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['attack_cat'] = le.fit_transform(df1['attack_cat'])

c:\Users\DELL\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-41-9cea29284ae2>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['attack_cat'] = le.fit_transform(df1['attack_cat'])

In [42]:

X = df1.drop(columns=['attack_cat'])
y = df1['attack_cat']
# Now define column types from X
cat = [col for col in X.select_dtypes(include=['object']).columns]
binary = ['is_ftp_login', 'is_sm_ips_ports']
numerical = [col for col in X.select_dtypes(include=['int64', 'float64']).columns if col not in binary]

from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [43]:
# Import necessary libraries
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import recall_score, classification_report  # changed from precision_score to recall_score

# Define the preprocessor
preprocessor = ColumnTransformer([
    ("num", StandardScaler(), numerical),
    ("cat", OneHotEncoder(handle_unknown="ignore"), cat),
    ("bin", "passthrough", binary)
])

# Define the pipeline
pipeline = Pipeline([
    ("prep", preprocessor),
    ("model", LogisticRegression(random_state=42))
])

# Fit the pipeline to training data
pipeline.fit(X_train, y_train)

# Predict on training and validation data
y_train_pred = pipeline.predict(X_train)
y_val_pred = pipeline.predict(X_val)

# Print macro recall for train and validation
print("Train Recall :", recall_score(y_train, y_train_pred, average='macro'))
print("Validation Recall :", recall_score(y_val, y_val_pred, average='macro'))

# Print classification report on validation set
print("\nClassification Report (Validation Set):")
print(classification_report(y_val, y_val_pred))

Train Recall : 0.4233612596434949
Validation Recall : 0.4132018819308995

Classification Report (Validation Set):
              precision    recall  f1-score   support

           0       0.16      0.14      0.15       478
           1       0.16      0.06      0.09       461
           2       0.20      0.04      0.06      1142
           3       0.73      0.80      0.76      5952
           4       0.50      0.76      0.61      4844
           5       0.95      0.80      0.87      1254
           6       0.96      0.84      0.89     15567
           7       0.45      0.58      0.51      2257
           8       0.77      0.08      0.15       327
           9       0.50      0.03      0.05        38

    accuracy                           0.74     32320
   macro avg       0.54      0.41      0.41     32320
weighted avg       0.76      0.74      0.74     32320

## XGBoost

In [49]:
# Prepare features and target
from sklearn.model_selection import train_test_split

X = df1.drop(columns=['attack_cat'])
y = df1['attack_cat']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, recall_score

# Define your columns
cat = [col for col in X_train.select_dtypes(include=['object']).columns]
binary = ['is_ftp_login', 'is_sm_ips_ports']
numerical = [col for col in X_train.select_dtypes(include=['int64', 'float64']).columns if col not in binary]
# Preprocessing transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore', sparse=False), cat),
        ('num', StandardScaler(), numerical),
        ('bin', 'passthrough', binary)
    ]
)

# Full pipeline: preprocessing -> PCA -> classifier
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    
    ('clf', XGBClassifier(
    use_label_encoder=False,
    eval_metric='mlogloss',
    random_state=42,
    max_depth=5,
    n_estimators=100,
    subsample=0.8,
    colsample_bytree=0.8
))])
# Fit pipeline
pipeline.fit(X_train, y_train)

# Predict on training and validation sets
y_pred_train = pipeline.predict(X_train)
y_pred_val = pipeline.predict(X_val)

# Print classification reports
print("Validation Classification Report:")
print(classification_report(y_val, y_pred_val))
print("\nTraining Classification Report:")
print(classification_report(y_train, y_pred_train))

# Print recall scores (macro average for multiclass)
train_recall = recall_score(y_train, y_pred_train, average='macro')
val_recall = recall_score(y_val, y_pred_val, average='macro')
print(f"\nTraining Recall (macro): {train_recall:.4f}")
print(f"Validation Recall (macro): {val_recall:.4f}")

[14:03:18] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.2.0\src\learner.cc:516:
Parameters: { use_label_encoder } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


Validation Classification Report:
              precision    recall  f1-score   support

           0       0.11      0.19      0.14       398
           1       0.18      0.20      0.19       384
           2       0.42      0.19      0.27       951
           3       0.80      0.86      0.83      4960
           4       0.70      0.75      0.73      4037
           5       0.97      0.84      0.90      1045
           6       0.94      0.92      0.93     12972
           7       0.79      0.74      0.77      1881
           8       0.66      0.74      0.70       273
           9       0.69      0.56      0.62        32

    accuracy                           0.82     26933
   macro avg       0.63      0.60      0.61     26933
weighted avg       0.82      0.82      0.82     26933


Training Classification Report:
              precision    recall  f1-score   support

           0       0.29      0.52      0.37      1196
           1       0.36      0.42      0.39      1151
           2       0.63      0.33      0.43      2855
           3       0.85      0.90      0.88     14879
           4       0.77      0.81      0.79     12110
           5       0.99      0.89      0.93      3136
           6       0.96      0.94      0.95     38917
           7       0.84      0.80      0.82      5641
           8       0.80      0.90      0.85       818
           9       0.94      1.00      0.97        95

    accuracy                           0.87     80798
   macro avg       0.74      0.75      0.74     80798
weighted avg       0.87      0.87      0.87     80798


Training Recall (macro): 0.7509
Validation Recall (macro): 0.6008

In [47]:
# 1. Preprocess the input data using the preprocessor
X_processed = preprocessor.fit_transform(X)

# 2. Split the processed data
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X_processed, y, test_size=0.2, random_state=42, stratify=y
)

# 3. Convert labels to categorical (one-hot encoding) if needed
from tensorflow.keras.utils import to_categorical
import numpy as np

num_classes = len(np.unique(y))
y_train_cat = to_categorical(y_train, num_classes)
y_val_cat = to_categorical(y_val, num_classes)

# 4. Build a Neural Network using TensorFlow/Keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
import tensorflow as tf

model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.3),
    Dense(64, activation='relu'),
    Dropout(0.3),
    Dense(num_classes, activation='softmax')
])

model.compile(
    loss='categorical_crossentropy',
    optimizer='adam',
    metrics=[tf.keras.metrics.Recall(name='recall')]  # ← Changed to Recall
)

# 5. Early stopping callback
early_stop = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

# 6. Train the model
history = model.fit(
    X_train, y_train_cat,
    validation_data=(X_val, y_val_cat),
    epochs=50,
    batch_size=32,
    callbacks=[early_stop],
    verbose=1
)

# 7. Evaluate weighted recall using scikit-learn
from sklearn.metrics import recall_score

y_val_pred_proba = model.predict(X_val)
y_val_pred_classes = np.argmax(y_val_pred_proba, axis=1)

print("Validation Recall (weighted):", recall_score(y_val, y_val_pred_classes, average='weighted'))

# Optional: Classification report
from sklearn.metrics import classification_report
print("\nClassification Report (Validation Set):")
print(classification_report(y_val, y_val_pred_classes))

Epoch 1/50
2691/2694 [============================>.] - ETA: 0s - loss: 0.7525 - recall: 0.6065WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_test_batch_end` time: 0.0021s). Check your callbacks.
2694/2694 [==============================] - 15s 6ms/step - loss: 0.7527 - recall: 0.6064 - val_loss: 0.6289 - val_recall: 0.6678
Epoch 2/50
2694/2694 [==============================] - 13s 5ms/step - loss: 0.6348 - recall: 0.6707 - val_loss: 0.5938 - val_recall: 0.7020
Epoch 3/50
2694/2694 [==============================] - 14s 5ms/step - loss: 0.6053 - recall: 0.6914 - val_loss: 0.5667 - val_recall: 0.7169
Epoch 4/50
2694/2694 [==============================] - 14s 5ms/step - loss: 0.5877 - recall: 0.7038 - val_loss: 0.5561 - val_recall: 0.7142
Epoch 5/50
2694/2694 [==============================] - 11s 4ms/step - loss: 0.5765 - recall: 0.7108 - val_loss: 0.5487 - val_recall: 0.7266
Epoch 6/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5683 - recall: 0.7165 - val_loss: 0.5467 - val_recall: 0.7298
Epoch 7/50
2694/2694 [==============================] - 4s 2ms/step - loss: 0.5628 - recall: 0.7188 - val_loss: 0.5450 - val_recall: 0.7290
Epoch 8/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5592 - recall: 0.7199 - val_loss: 0.5356 - val_recall: 0.7289
Epoch 9/50
2694/2694 [==============================] - 4s 2ms/step - loss: 0.5544 - recall: 0.7220 - val_loss: 0.5339 - val_recall: 0.7232
Epoch 10/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5498 - recall: 0.7234 - val_loss: 0.5275 - val_recall: 0.7359
Epoch 11/50
2694/2694 [==============================] - 4s 2ms/step - loss: 0.5493 - recall: 0.7242 - val_loss: 0.5278 - val_recall: 0.7387
Epoch 12/50
2694/2694 [==============================] - 4s 2ms/step - loss: 0.5454 - recall: 0.7284 - val_loss: 0.5286 - val_recall: 0.7352
Epoch 13/50
2694/2694 [==============================] - 4s 2ms/step - loss: 0.5443 - recall: 0.7272 - val_loss: 0.5200 - val_recall: 0.7372
Epoch 14/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5442 - recall: 0.7277 - val_loss: 0.5182 - val_recall: 0.7358
Epoch 15/50
2694/2694 [==============================] - 4s 2ms/step - loss: 0.5411 - recall: 0.7290 - val_loss: 0.5220 - val_recall: 0.7392
Epoch 16/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5383 - recall: 0.7288 - val_loss: 0.5227 - val_recall: 0.7275
Epoch 17/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5387 - recall: 0.7282 - val_loss: 0.5161 - val_recall: 0.7397
Epoch 18/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5378 - recall: 0.7292 - val_loss: 0.5187 - val_recall: 0.7389
Epoch 19/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5350 - recall: 0.7296 - val_loss: 0.5203 - val_recall: 0.7287
Epoch 20/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5334 - recall: 0.7307 - val_loss: 0.5170 - val_recall: 0.7380
Epoch 21/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5319 - recall: 0.7334 - val_loss: 0.5123 - val_recall: 0.7348
Epoch 22/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5305 - recall: 0.7324 - val_loss: 0.5131 - val_recall: 0.7338
Epoch 23/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5308 - recall: 0.7323 - val_loss: 0.5159 - val_recall: 0.7320
Epoch 24/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5292 - recall: 0.7336 - val_loss: 0.5117 - val_recall: 0.7378
Epoch 25/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5298 - recall: 0.7329 - val_loss: 0.5134 - val_recall: 0.7442
Epoch 26/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5272 - recall: 0.7336 - val_loss: 0.5103 - val_recall: 0.7355
Epoch 27/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5264 - recall: 0.7347 - val_loss: 0.5092 - val_recall: 0.7390
Epoch 28/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5255 - recall: 0.7342 - val_loss: 0.5066 - val_recall: 0.7418
Epoch 29/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5267 - recall: 0.7337 - val_loss: 0.5095 - val_recall: 0.7432
Epoch 30/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5231 - recall: 0.7364 - val_loss: 0.5058 - val_recall: 0.7479
Epoch 31/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5228 - recall: 0.7378 - val_loss: 0.5074 - val_recall: 0.7374
Epoch 32/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5237 - recall: 0.7364 - val_loss: 0.5013 - val_recall: 0.7447
Epoch 33/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5213 - recall: 0.7366 - val_loss: 0.5039 - val_recall: 0.7389
Epoch 34/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5225 - recall: 0.7372 - val_loss: 0.5029 - val_recall: 0.7475
Epoch 35/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5214 - recall: 0.7376 - val_loss: 0.5041 - val_recall: 0.7445
Epoch 36/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5212 - recall: 0.7385 - val_loss: 0.5072 - val_recall: 0.7362
Epoch 37/50
2694/2694 [==============================] - 4s 1ms/step - loss: 0.5200 - recall: 0.7356 - val_loss: 0.5075 - val_recall: 0.7408
Validation Recall (weighted): 0.7892514039077366

Classification Report (Validation Set):
              precision    recall  f1-score   support

           0       0.16      0.52      0.24       319
           1       0.21      0.06      0.10       307
           2       0.47      0.11      0.17       761
           3       0.79      0.84      0.82      3968
           4       0.59      0.70      0.64      3230
           5       1.00      0.78      0.87       836
           6       0.93      0.90      0.91     10378
           7       0.80      0.68      0.74      1505
           8       0.47      0.50      0.49       218
           9       0.00      0.00      0.00        25

    accuracy                           0.79     21547
   macro avg       0.54      0.51      0.50     21547
weighted avg       0.80      0.79      0.79     21547

c:\Users\DELL\anaconda3\envs\learn-env\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))